<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi carrito</title>
    <link rel="shortcut icon" href="images/logos/circulo.jpg" type="image/x-icon">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/carrito.css">
</head>
<header>
    <div class="header-left">
        <div class="logo"></div>
        <h3>WaveRunners</h3>
    </div>
    <input type="text" name="search" id="search" placeholder="Busca productos">
    <div class="header-right">
        <i href='#' class="fas fa-shopping-cart"></i>
        <div class="avatar"></div>
    </div>
</header>

<body>
<ul class="main-navbar">
    <li><a a href="#">surf</a></li>
    <li><a a href="#">Kite</a></li>
    <li><a a href="#">PaddleSurf</a></li>
    <li><a a href="#">Wakeboard</a></li>
    <li><a a href="#">Snorkel</a></li>
    <li><a a href="#">Windsurf</a></li>
    
</ul>

<img class="volandoalto" src='/images/carrito/volandoalto.png'>

<h3 class="titulocart">Productos del carrito</h3>

</body>

</html>