<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi carrito</title>
    <link rel="shortcut icon" href="images/logos/circulo.jpg" type="image/x-icon">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/carrito.css">
</head>
<header>
    <div class="header-left">
        <div class="logo"></div>
        <h3>WaveRunners</h3>
    </div>
    <input type="text" name="search" id="search" placeholder="Busca productos">
    <div class="header-right">
        <i href='#' class="fas fa-shopping-cart"></i>
        <div class="avatar"></div>
    </div>
</header>

<body>
    <section class="barra de navegacion">
        <ul class="main-navbar">
            <li><a a href="#">Surf</a></li>
            <li><a a href="#">Kite</a></li>
            <li><a a href="#">PaddleSurf</a></li>
            <li><a a href="#">Wakeboard</a></li>
            <li><a a href="#">Snorkel</a></li>
            <li><a a href="#">Windsurf</a></li>
            probando
            

        </ul>
    </section>

    <section class="portada">
        <img class="volandoalto" src='/images/carrito/volandoalto.png'>
    </section>

    <main>
        <h3 class="titulocart"> Productos del carrito</h3>

        <div class="sub-titulos-container">

            <ul class="sub-titulos-carrito">
                <li>Eliminar</li>
                <li>Productos</li>
                <li>Precio</li>
                <li>Cantidad</li>
                <li>Sub Total</li>

            </ul>
        </div>
        <section class="producto1">
            <ul class="detalle-productos">
                <li><a a href="#"><i class="far fa-times-circle"></i></a></li>
                <li><img class="foto-producto" src="/images/carrito/KiteDuotone.jpeg"></li>
                <li>Kitesurf>Kites>North</li>
                <li>$172.470</li>
                <li><input class="cantidad" type="number" name="qprod" id="qprod" placeholder="Cant."></li>
                <li>$172.470</li>
            </ul>
        </section>
<section class="botones-de-accion">

    <input type="submit" value="Seguir Comprando">

    <input type="submit" value="Guardar Carrito">

    <p>Total  $200.000 </p>

</section>

<section>
    <input type="submit" value="Continuar Compra">
</section>

    </main>


    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <ul>
                    <li><a href="">Preguntas Frecuentes</a></li>
                    <li><a href="">Contactanos</a></li>
                </ul>
            </div>
            <div class="footer-right">
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>

</body>

</html>