<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wave Runners</title>
    <link rel="shortcut icon" href="images/logos/circulo.jpg" type="image/x-icon">  

    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <header>
        <div class="header-left">
            <div class="logo"></div>
            <h3>WaveRunners</h3>
        </div>
        <input type="text" name="search" id="search" placeholder="Busca productos">
        <div class="header-right">
            <ul>
                <li>Login</li>
                <li>Registrarse</li>
            </ul>
            <div class="avatar"></div>
            <i class="fas fa-bars"></i>
        </div>
    </header>
    
</body>
</html>