
.main-navbar{
    display: flex;
    list-style: none;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
    margin : 10px 30px;
}
.volandoalto {
   width: 100%;
}
.titulocart {
    display: flex;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-left: 10%;
    align-items: center;
}
.sub-titulos-container{
   width: 98%;
   
    
}
.sub-titulos-carrito{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.sub-tit-eliminar{
    margin-left:0px;
}

.producto1,.producto2,.producto3{
    width: 90%;
    margin: auto;
    border-top: black;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-width: 1px;
}

.detalle-productos{

    display: flex;
    list-style: none;
    padding: 0px;
    text-decoration: none;
    justify-content:space-between;
}

.contenido-producto {
    width: 150px;
    
    
}
.foto-producto{
    width: 50px;
    margin-right: 0px;
    align-items: center;
    
   
}

.cantidad{
    width: 40px;
}
.divisor {
    width: 90%;
    margin:auto;
    border-top: black;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-width: 1px;
}

.container-botones {
    display: flex;
    justify-content:space-evenly;
    height: 30px;
    margin-right: 30%;
}

.botones-de-accion{
    background-color: rgba(106,184,212,255);
    border-radius: 3px;
    border: none;
}

.total-compra{
    margin-left: 70%;
}

.botones-de-accion2 {
    background-color: rgba(106,184,212,255);
    border-radius: 3px;
    border: none;
    margin-top: 60px;
    margin-bottom: 30px;
    height: 35px;
    margin-left:70% ;
    
}
.container-seguircomprando {
    display: flex;
    justify-content:right;

}


@media screen and (max-width: 600px){
     .avatar, .main-navbar {
        display:none;
    }
}

@media screen and (max-width: 450px){
    .header-left {
        display:none;
    }
}

@media screen and (min-width: 601px){
    .fa-bars {
        display: none;
    }
}

/* footer */

footer {
    background-color: var(--footer-gray);
    padding: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.footer-left ul {
    list-style-type:none;
    padding: 0px;
    margin: 0px;
}

.footer-right a {
    margin-left: 10px;
}