
.main-navbar{
    display: flex;
    list-style: none;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
    margin : 10px 30px;
}
.volandoalto {
   width: 100%;
}
.titulocart {
    display: flex;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-left: 10%;
    align-items: center;
}



@media screen and (max-width: 600px){
     .avatar, .main-navbar {
        display:none;
    }
}

@media screen and (max-width: 450px){
    .header-left {
        display:none;
    }
}

@media screen and (min-width: 601px){
    .fa-bars {
        display: none;
    }
}